.headerhome{
	color: white !important;
}
.headerhome:hover {
	color: black !important;
}
.aboutus{
	color: white  !important;
}
.aboutus:hover {
	color: black !important;
}
.contactus{
	color: white  !important;
}
.contactus:hover {
	color: black !important;
}

